<div class="osallistu">
	<hr>
	<small>
	<p>Haluatko osallistua tämän sivuston kehittämiseen? Voit lisätä kansioon _ohjeet tai _tyokalut uuden markdown-muotoillun tiedoston ja se ilmestyy automaattisesti sivuston listaukseen. Voit vapaasti määritellä mitkä tekijänoikeudet tekstiä koskevat. Jos et määrittele tekijänoikeuksia, käytetään tekstiisi sivuston oletuksena toimivaa CC BY-SA -lisenssiä.</p>
	<p>Huomasitko jonkin virheen? Avaa uusi issue sivuston <a href="{{ site.github.repo }}">Github-arkistoon</a>.</p>
	</small>
</div>
